#about {
  position: relative;
  color: $white;
  height: 100vh;
  border-top: 0px;
  padding-bottom: 10%;
  padding-top: 50px;

  h2 {
    font-size: 3.5vw;
    margin-top: 50px;
  }

  p {
    font-size: 1.5vw;
  }

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include respond(tab-land) {
        height: 100%;
      }
      @include respond(tab-port-sm) {
        padding-bottom: 6.4rem;
      }
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @include respond(tab-port-sm) {
        align-items: center;
      }

      &-text {
        text-align: left;

        @include respond(tab-port) {
          text-align: left;
        }
        @include respond(tab-port-sm) {
          text-align: center;
        }

        &--important {
          background: darken($white, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
  .tech-stack-container {
    position: absolute;
    bottom: 100px;
    left: 0;
    margin-right: 16px;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      transparent,
      #000 16px,
      #000 calc(100% - 32px),
      transparent calc(100% - 16px)
    );
  }

  .tech-stack-top {
    display: flex;
    animation: 40s linear 0s infinite normal none running slideToLeft;
  }

  .tech-stack-bottom {
    display: flex;
    margin-top: 8px;
    animation: 40s linear 0s infinite normal none running slideToRight;
  }

  .tech-stack img {
    padding: 8px;
    color: $primary-color;
    width: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }

  .tech-stack-row {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .tech-stack-first-row {
    display: flex;
    gap: 16px;
    margin-right: 16px;
    align-items: center;
  }

  @keyframes slideToLeft {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes slideToRight {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  #about {
    margin-bottom: 50px;
  }

  #about h2 {
    font-size: 56px;
  }

  #about p {
    font-size: 22px;
  }

  #about .tech-stack-container {
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: -30px;
    left: 0;
  }
}
