#projects {
  background: none;
  color: $white-color;
  scroll-snap-align: start;

  h2 {
    margin-top: 50px;
    font-size: 3.5vw;
  }
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }
    }
  }

  #bark-buddies-container {
    width: 430px;
    height: auto;
  }
}

.img-fluid {
  border-radius: 8px;
}

.img-fluid-small {
  height: 400px;
}

.row-inverted {
  display: flex;
}

.icons img {
  width: 50px;
  padding: 2px;
  margin-top: 8px;
}

.barkbuddies {
  display: flex;
  justify-content: center;
  width: auto;
  overflow: hidden;
  border: none !important;
}

@media screen and (max-width: 1024px) {
  #projects {
    h2 {
      font-size: 48px;
    }

    p {
      font-size: 18px;
    }
  }

  .project-wrapper__text-title {
    border-top: 1px solid white;
    padding-top: 22px;
  }

  .img-fluid-small {
    height: 350px;
  }

  #barkbuddies-chat {
    display: none;
  }
}
